#  Local .terraform directories and files
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

#  Terraform secret variables
*.secret.tfvars

# MacOS!
.DS_Store

# Local plan and output files
*.plan
*.out

# Local terraforming-gcp files
/terraforming-gcp
