source_up
export BOSH_CLIENT=ops_manager
export BOSH_CLIENT_SECRET=
export BOSH_SSH_KEY=
export BOSH_CA_CERT=
export BOSH_ENVIRONMENT=
export BOSH_ALL_PROXY=ssh+socks5://ubuntu@((YOUR OPSMAN DNS)):22?private-key=((ABSOLUTE PATH TO YOUR SSH KEY))
